@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Sans', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-weight: 500;
    background-color: #E5E3E6;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

header > .right{
    margin-right: 90px;
}
.first > .left{
    margin-left: 85px;
}

.first > .menu-toggle{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 1001;
    transition: left 0.3s ease;
}

.first > .menu-toggle:hover{
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.first > .menu-toggle.active{
    box-shadow: none;
    left: 300px;
}

.first > button > i{
    color: white;
    font-size: 25px;
}

.sidebar{
    position: fixed;
    left: -280px;
    top: 0;
    width: 280px;
    height: 60vh;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.active{
    left: 0;
}

.sidebar > .header{
    margin-left: 23px;
    margin-top: 23px;
}

.menu-items{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}

.menu-items > .upgrade-section{
    width: 100%;
    height: 20vh;
    padding: 10px;
    background: white;
    border: none;
    transition: left 0.3s ease;
}

.menu-items > a{
    text-decoration: none;
    color: black;
    display: inline;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

.menu-items > a:hover{
    background: rgba(0, 0, 0, 0.1);
}

.menu-items > a:active{
    background: white;
    flex-shrink: 1;
}

.menu-items > a > span{
    margin-left: 14px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

body.menu-open > *:not(.sidebar):not(.overlay){
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.mainContent{
    padding: 20px;
    transition: filter 0.3s ease;
}

.mainContent.blurred{
    filter: blur(2px);
}